body{
    background-image: url("bgimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#heading {
	background-color: hsla(225, 73%, 57%, 0.4);
	text-align: center;
	padding: 10px;
	margin-bottom: 15px;
    font-size: 30px;
    width: 100%;
}

#menu{
	text-align: center;
	background-color: hsla(210, 80%, 60%, 0.5);
	padding: 10px;
	
}
.link{
	color: black;
	margin-left: 5%;
	text-decoration: none;
	font-size: 1.3em;
}
.link:hover{
	background-color: silver;
	color: teal;
}

#footer{
	background-color: hsla(20, 100%, 50%, 0.5);
	margin-top: 10px;
	padding: 10px;
}

#img{
	width: 20%;
	height: 20%;
	align-items: center;
	margin-left: 40%;
}

#para1{
	background-color: lightblue;
}

.para{
	font-size: 20px;
}

#para1_1{
	background-color: lightblue;
}

.para1{
	font-size: 20px;
}

#para1_2{
	background-color: lightblue;
}

.para2{
	font-size: 20px;
}

#para1_3{
	background-color: lightblue;
}

.para3{
	font-size: 20px;
}